{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="action-buttons">
    <a class="button outline big" href="https://www.facebook.com/allyoucandointhai/" target="_blank">Мы в Фейсбук</a> <a class="button outline big" href="https://www.instagram.com/vsemozhnovtae/" target="_blank">Мы в Инстаграм</a>
    <p>Заходите к нам на Фейсбук и Инстаграм. У нас интересно.</p>
  </div>
  <div class="message focus" data-component="message"> <span class="close small"></span>
    Информация на этом сайте - плод больной фантазией авторов и попытка поделиться своим опытом и знаниями. Всегда думайте головой!
  </div>
  <figure>
	<div class="video-container">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/KXXu5znIzoI?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
	</div>
	<figcaption>Анонс 4 сезона #всеможновтае</figcaption>
  </figure>  
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="Блог" height="48" src="{{ "/img/kube/icon-typo.png" | relURL }}" width="48">
        </figure>
        <h3>Блог</h3>
        <p>Читайте наши публикации в блоге на этом сайте. Тут будет информация, которая не погрязнет в ленте фейсбука.</p>
		<p><a class="button small" href="http://vmvt.club/blog">Скорее читать</a></p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Фейсбук" height="48" src="{{ "/img/kube/icon-facebook.png" | relURL }}" width="48">
        </figure>
        <h3>Фейсбук</h3>
        <p>Пользуетесь  фейсбуком? Там у нас тоже есть страничка. Там видно наши чекины и можно комментировать.</p>
		<p><a class="button small" href="https://www.facebook.com/allyoucandointhai/" target="_blank">Ура, фейсбук!</a></p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Инстаграм" height="48" src="{{ "/img/kube/icon-instagram.png" | relURL }}" width="48">
        </figure>
        <h3>Инстаграм</h3>
        <p>Мы размещаем интересные картинки в нашем инстаграм.  Смотреть новые, красивые картинки и видео лучше там.</p>
		<p><a class="button small" href="https://www.instagram.com/vsemozhnovtae/" target="_blank">Хочу посмотреть</a></p>
      </div>
    </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
